body {
  width: 700px; 
  min-height: 100%;
  position: relative;
  vertical-align:middle;
}


*.unselectable {
   -webkit-user-select: none;
   user-select: none;
}

.expandButtonOpen {
	background: url('../details_open.png') no-repeat center center;
	height:20px;
  	width:20px;
	cursor: pointer;
}

.expandButtonClose {
	background: url('../details_close.png') no-repeat center center;
	height:20px;
  	width:20px;
	cursor: pointer;
}

td.details-control {
    background: url('details_open.png') no-repeat center center;
    
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../resources/details_close.png') no-repeat center center;
}